{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% include "partials/links.html" %}
    <title>{% block title %}{% endblock title %}Recipes</title>

</head>

<body>
    {% include "partials/menu.html" %}
    {% include "partials/header.html" %}
    {% include "partials/search.html" %}
    <main>
        {% block content %}{% endblock content %}
        {% include "partials/pagination.html" %}
    </main>
    
    {% include "partials/footer.html" %}
    <script src="{% static "js/scripts.js" %}"></script>

</body>

</html>