<header class="header-container">

    {% if not request.user.is_authenticated %}
    <div class='button-login-logout'>
        <form action="{% url 'authors:register' %}" method='POST'>
            {% csrf_token %}
            <button type="submit">Register</button>
        </form>
        <form action="{% url 'authors:login' %}" method='POST'>
            {% csrf_token %}
            <button type="submit">Login</button>
        </form>
    </div>

    {% else %}
    <div class='button-login-logout'>
        <form action="" method='POST'>
            {% csrf_token %}
            <button type="submit">{{ request.user.first_name }} ({{ request.user.username }})</button>
        </form>

        <form action="{% url 'authors:logout' %}" method='POST'>
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>
    {% endif %}

    <div class="header container">
        <a class='header-logo' href="{% url "recipes:home" %}">
            <i class="fas fa-utensils"></i>
            <span>Recipes</span>
        </a>
    </div>
</header>