{% if recipes.has_other_pages %}

    <div class="pagination">

        {% if pagination_range.first_page_out_of_range %}
        <div class="page-link">
            <a href="?page=1{{ additional_url_query }}">1</a>
        </div>
        <div class="page-item">
            <span>...</span>
        </div>
        {% endif %}

        {% for page in pagination_range.pagination %}
            {% if pagination_range.current_page == page %}
            <div class="page-link page-current">
                <a href="?page={{ page }}{{ additional_url_query }}">
                    {{ page }}
                </a>
            </div>
            {% else %}
            <div class="page-link">
                <a href="?page={{ page }}{{ additional_url_query }}">
                    {{ page }}
                </a>
            </div>
            {% endif %}
        {% endfor %}

        {% if pagination_range.last_page_out_of_range %}
            <div class="page-item">
                <span>...</span>
            </div>
            <div class="page-link">
                <a href="?page={{ last_page }}{{ additional_url_query }}">
                    {{ last_page }}
                </a>
            </div>
        {% endif %}

    </div>
{% endif %}