<div class="recipe-edit-button">
    <form action="{% url "authors:dashboard_recipe_edit" recipe.id %}">
        <button>Edit Recipe</button>
    </form>
    <form action="{% url "authors:dashboard" %}">
        <button>Dashboard</button>
    </form>
</div>

<div class="main-content main-content-detail container">
    <div class="recipe recipe-list-item">
        <div class="recipe-cover">
            <img src="{{ recipe.cover.url }}" alt="">
        </div>
        <div class="recipe-content">
            <div class="recipe-title">
                <h2>{{ recipe.title }}</h2>
            </div>
            <div class="recipe-author">
                <span>
                    <i class="fas fa-user"></i>
                    {{ recipe.author.first_name }} {{ recipe.author.last_name }}
                </span>
                <span>
                    <i class="fas fa-calendar-alt"></i>
                    {{ recipe.created_at |date:"d/m/Y" }}
                </span>
                {% comment %} <a href="{% url "recipes:category" recipe.category.id %}">
                    <i class="fas fa-layer-group"></i>
                    {{ recipe.category.name }}
                </a> {% endcomment %}
            </div>
            <div class="recipe-description">
                <span>
                    {{ recipe.description }}
                </span>
            </div>
            <div class="recipe-preparation-info-container">
                <div class="recipe-preparation-info">
                    <h3><i class="fas fa-clock"></i> Preparo</h3>
                    <span>{{ recipe.preparation_time }} {{ recipe.preparation_time_unit }}</span>
                </div>
                <div class="recipe-preparation-info">
                    <h3><i class="fas fa-pizza-slice"></i> Porções</h3>
                    <span>{{ recipe.servings }} {{ recipe.servings_unit }}</span>
                </div>
            </div>

            <div class="recipe-preparation-title">
                <h2><i class="fas fa-blender"></i> Modo de Fazer</h2>
            </div>
            <div class="recipe-preparation">
                {% if recipe.preparation_step_is_html is True %}
                    {{ recipe.preparation_step|safe }}
                {% else %}
                    {{ recipe.preparation_step|linebreaksbr }}
                {% endif %}
            </div>
        </div>
    </div>
</div>