{% extends "partials/base.html" %}
{% load i18n %}
{% block title %}{% translate "Profile" %} {{ request.user.first_name }} | {% endblock title %}

{% block content %}
        <div class="main-content main-content-detail container center">
            <h2>{% translate "Bio Edit" %}</h2>
        </div>
        <div class="form-content form-content-grid">
            <div class="authors-dashboard-container">
                {% include "partials/forms.html" %}
            </div>
        </div>
{% endblock content %}