{% extends "partials/base.html" %}

{% block title %}Change Password {{ request.user.first_name }} | {% endblock title %}

{% block content %}
        <div class="center">
            <h2>Change Password</h2>
        </div>

        <div class="form-content form-content-grid">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-content form-content-grid">
                    <div class="form-group" aria-label='Button to confirm the registration'>
                        <button type="submit">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
{% endblock content %}