{% extends "partials/base.html" %}

{% block title %}Login | {% endblock title %}

{% block content %}

    {% include "partials/messages.html" %}

    <div class="form-content">
        <h2>Login</h2>

        {% if request.user.is_authenticated %}
            <p class="logged">
                Your are logged in with <span>{{ request.user.username }}</span>.
            </p>
        {% endif %}
    </div>

    {% if not request.user.is_authenticated %}
        {% include "partials/forms.html" %}
    {% endif %}

{% endblock content %}