{% extends "partials/base.html" %}

{% block title %}{{ recipe.title }} | {% endblock title %}

{% block content %}
    {% if recipe.is_published %}
        <div class="main-content main-content-detail container">
            {% include "partials/recipes_base.html" %}
        </div>

    {% else %}
        {% include "partials/messages.html" %}
        <div class="main-content main-content-detail container">
            {% include "partials/recipe_not_published.html" %}
        </div>
    {% endif %}
{% endblock content %}
